<template name="opponents">
	{{#if showMainMenu}}
		<div class="opponents">
			{{#unless isPlaying}}
				{{#unless hasRoom}}
					<div class="userlist">
						{{#if currentUser}}
							<h2>{{currentUser.user}} ({{currentUser.wins}} wins).</h2>
						{{else}}
							<form class="form">
								<input type="text" class="input" placeholder="Your name and press ENTER" maxlength="10">
							</form>
						{{/if}}
						<hr>
						<h3>Opponents</h3>
						<ul>
						{{#each onlines}}
							<li>
								<a href="javascript:;" class="play" data-enemy="{{user}}" title="Play with {{user}}">{{user}}</a>
							</li>
						{{else}}
							<li class="center">No players online.</li>
						{{/each}}
						</ul>
					</div>
				{{/unless}}
			{{/unless}}
		</div>
	{{/if}}
</template>